BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
